<div class="main-container">
    <div class="top">
        @defer (when page == 1) {
            @if(page == 1){
                <p class="title">Instrucciones</p>
                <p>A continuación, comenzarás con el desarrollo de las tareas cognitivas, las cuales estarán divididas en dos partes (antes de iniciar cada parte encontrarás instrucciones adicionales):</p>
                <ol>
                    <li>
                        <p>Primera parte: enfocada en el pensamiento creativo.</p>
                    </li>
                    <li>
                        <p>Segunda parte: enfocada en el pensamiento crítico.</p>
                    </li>
                </ol>
            }
        }

        @defer (when page ==2) {
            @if(page == 2){
                <p class="title">Pensamiento creativo</p>
                <ol>
                    <li>
                        <p>Se te presentarán tres imágenes que contienen múltiples elementos visuales.</p>
                    </li>
                    <li>
                        <p>Observa cada imagen con mucha atención. Detente en los detalles, analiza los objetos, los símbolos y las posibles relaciones entre ellos.</p>
                    </li>
                    <li>
                        <p>Tu tarea será formar grupos de tres palabras que tengan una relación clara entre sí, tomando como base lo que observes en la imagen.</p>
                    </li>
                    <li>
                        <p>Por cada imagen tendrás <strong>1 minuto</strong> para formar tantos grupos de palabras como puedas.</p>
                    </li>
                    <li>
                        <p> <strong>Al dar click en "Continuar" iniciará un contador de 1 minuto por imagen. Al finalizar el primer minuto y des click en continuar iniciará el siguiente contador</strong>.</p>
                    </li>
                    <li>
                        <p>Abajo encontraras un ejemplo de como sera la primera prueba. Encontraras una imagen y un campo de texto, funcionara de la siguiente forma:</p>
                        <ol>
                            <li>
                                <p>Ingresa tu primer palabra de tu primer grupo de palabras.</p>
                            </li>
                            <li>
                                <p>Presiona la tecla "Enter" de tu teclado.</p>
                            </li>
                            <li>
                                <p>Podras ver como se agrega la primer palabra a tu grupo.</p>
                            </li>
                            <li>
                                <p>Escribe la segunda palabra, presiona "Enter" y podras ver que se agrega la segunda palabra a tu grupo.</p>
                            </li>
                            <li>
                                <p>Cuando escribas la tercer palabra y presiones "Enter", se creara tu primer grupo de palabras automaticamente y podras verlo justo debajo del campo de texto.</p>
                            </li>
                            <li>
                                <p> <strong>Pruablo aca abajo antes de empezar la prueba e inicia cuando te sientas preparado(a). Recuerda que no podras retroceder en las fases de la prueba</strong> . </p>
                            </li>
                        </ol>
                    </li>
                </ol>
                <p class="title">Ejemplo:</p>
                <div class="example">
                    <div class="img-container">
                        <img src="../../../assets/images/1.jpg" alt="">
                    </div>
                    <div class="input-container">
                        <mat-form-field class="example-form-field" appearance="outline">
                            <mat-label>Grupo de palabras</mat-label>
                            <mat-chip-grid #chipGrid aria-label="Enter keywords" [formControl]="formControl">
                                @for (keyword of keywords(); track keyword) {
                                <mat-chip-row>
                                    {{keyword}}
                                </mat-chip-row>
                                }
                            </mat-chip-grid>
                            <input
                                placeholder="Nueva palabra..."
                                [matChipInputFor]="chipGrid"
                                (matChipInputTokenEnd)="add($event)"
                            />
                        </mat-form-field>

                        <div class="groups">
                            <ol>
                            @for(wordGroup of sharedService.testWordGroup; track wordGroup) {
                                <li>
                                <div class="group">

                                        @for(word of wordGroup; let i = $index; track word) {
                                            <span class="word">{{word}}</span>
                                            @if(i < wordGroup.length - 1) {
                                                <span> - </span>
                                            }
                                        }
                                    </div>
                                </li>
                                }
                            </ol>
                        </div>
                    </div>
                </div>
            }
        }

        @defer (when page ==3) {
            @if(page == 3){
                <app-image-test></app-image-test>
            }
        }
    </div>

    <div class="bottom">
        <button (click)="next()" class="button" mat-flat-button>Continuar</button>
    </div>
</div>