.main-container{
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

    p{
        text-align: center;
    }

    .input{
        width: 300px;
    }

    @media (width > 445px) { 
        .input{
            width: 350px;
        }
     } 

     .title{
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 40px;
        margin-top: 75px;
     }

     .welcome-text{
        margin-bottom: 12px;
     }

     .secondary-text{
        margin-bottom: 20px;
     }

     .input-container{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
     }

    .wrong-user{
        .link{
            color: blue;
            cursor: pointer;
        }
    }
}