<main class="main">
  <div class="main-content">
    <div class="banner">
      <img class="logo" src="https://sthsguhtgaahhbinjege.supabase.co/storage/v1/object/public/AxoneAssets/Axone.png" alt="logo" width="150px" height="75px">
      <img class="logo" src="https://sthsguhtgaahhbinjege.supabase.co/storage/v1/object/public/AxoneAssets/umb.webp" alt="logo" width="180px">
    </div>
    <div class="site-content">
      <router-outlet />
    </div>
  </div>
</main>

<ngx-spinner type="square-jelly-box">

  @if(sharedService.currentImage == 3){
   
      <p style="color: white">
        Cargando...
      </p>
  }@else {
    <p style="color: white">
      Cargando...
    </p>

  }
</ngx-spinner>


