<div class="thank-you-container">
  <h1>🎉 ¡Gracias por participar!</h1>
  <p>
    Agradecemos tu tiempo y disposición al realizar el test cognitivo.
  </p>
  <p>
    Recuerda que al haber participado en esta prueba, estarás automáticamente inscrito en el <strong>sorteo especial</strong> que realizaremos próximamente.
  </p>
  <p>
    Si tienes alguna duda o comentario, puedes contactarnos a través de los siguientes correos:
  </p>
  <ul>
    <li>karenlozano.tt&#64;academia.umb.edu.co</li>
    <li>juanzamora.cn&#64;academia.umb.edu.co</li>
  </ul>
</div>
